@import "tailwindcss";

@theme inline {
  --font-serif: var(--font-noto-serif);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Georgia, serif;
}

.font-serif,
.serif {
  font-family: var(--font-inter), ui-serif, var(--font-pt-serif), var(--font-noto-serif), Georgia, serif;
}

.font-noto-serif {
  font-family: var(--font-noto-serif), Georgia, serif;
}
